node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.local
.env.development
.env.production
.nyc_output
coverage
.nyc_output
.coverage
.coverage/
docs
docs/
tests
tests/
*.test.js
*.spec.js
Dockerfile
.dockerignore
.gitlab-ci.yml
.travis.yml
.github
.nvmrc
.eslintignore
.eslintrc
.stylelintignore
.stylelintrc
.prettierignore
.prettierrc
.editorconfig
.husky
.lintstagedrc
docker-compose.yml
docker-compose.override.yml
docker-compose.prod.yml
dist
.vite